body {
	background-color: #0364FF;
}
.posts-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.post-container {
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 3%;
	margin: 0 2%;
}
.post-container .heading {
	height: 126px;
	text-align: center;
	display: flex;
	align-items: center;
}
.post-container .image {
	width: 100%;
	/* height: 210px; */
}
